node_modules/**/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
config.js

# macOS
.DS_Store

# expo
.expo-shared/
.expo/
.expo/packager-info.json
.expo/*
expo/*
.expo/packager-info.json
./.expo/*

# vscode
.vscode/