<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200297086351-7oimgk6vm654bgkkuninkfrtl72vquht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200297086351-7oimgk6vm654bgkkuninkfrtl72vquht</string>
	<key>API_KEY</key>
	<string>AIzaSyD0rap8RW7MduvzMkYQud9mW17QDbeCuCU</string>
	<key>GCM_SENDER_ID</key>
	<string>200297086351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kirin.chronos</string>
	<key>PROJECT_ID</key>
	<string>chronos-49f2b</string>
	<key>STORAGE_BUCKET</key>
	<string>chronos-49f2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200297086351:ios:e8eb2ff47d534751205ffa</string>
	<key>DATABASE_URL</key>
	<string>https://chronos-49f2b.firebaseio.com</string>
</dict>
</plist>